/*.ncb
/*.suo
build/ci/build-*
build/cmake/build-*
/debug
hello-java/bin
hello/*.user
hello/Debug
hello/Release
message/*.user
message/Debug
message/Release
output/*.user
output/Debug
output/Release
/release
