* text=auto !eol
/CMakeLists.txt -text
build/ci/build.bat -text
build/ci/build.xml -text
build/cmake/make-dbg.sh -text
build/cmake/make.sh -text
build/cmake/nmake.bat -text
build/cmake/vc10.bat -text
build/cmake/vc8.bat -text
build/cmake/vc9.bat -text
build/cmake/xcode.sh -text
/compilers.cmake -text
gtest/CHANGES -text
gtest/CMakeLists.txt -text
gtest/CONTRIBUTORS -text
gtest/COPYING -text
gtest/Makefile.am -text
gtest/Makefile.in -text
gtest/README -text
gtest/aclocal.m4 -text
gtest/codegear/gtest.cbproj -text
gtest/codegear/gtest.groupproj -text
gtest/codegear/gtest_all.cc -text
gtest/codegear/gtest_link.cc -text
gtest/codegear/gtest_main.cbproj -text
gtest/codegear/gtest_unittest.cbproj -text
gtest/configure -text
gtest/configure.ac -text
gtest/fused-src/gtest/gtest-all.cc -text
gtest/fused-src/gtest/gtest.h -text
gtest/fused-src/gtest/gtest_main.cc -text
gtest/include/gtest/gtest-death-test.h -text
gtest/include/gtest/gtest-message.h -text
gtest/include/gtest/gtest-param-test.h -text
gtest/include/gtest/gtest-param-test.h.pump -text
gtest/include/gtest/gtest-spi.h -text
gtest/include/gtest/gtest-test-part.h -text
gtest/include/gtest/gtest-typed-test.h -text
gtest/include/gtest/gtest.h -text
gtest/include/gtest/gtest_pred_impl.h -text
gtest/include/gtest/gtest_prod.h -text
gtest/include/gtest/internal/gtest-death-test-internal.h -text
gtest/include/gtest/internal/gtest-filepath.h -text
gtest/include/gtest/internal/gtest-internal.h -text
gtest/include/gtest/internal/gtest-linked_ptr.h -text
gtest/include/gtest/internal/gtest-param-util-generated.h -text
gtest/include/gtest/internal/gtest-param-util-generated.h.pump -text
gtest/include/gtest/internal/gtest-param-util.h -text
gtest/include/gtest/internal/gtest-port.h -text
gtest/include/gtest/internal/gtest-string.h -text
gtest/include/gtest/internal/gtest-tuple.h -text
gtest/include/gtest/internal/gtest-tuple.h.pump -text
gtest/include/gtest/internal/gtest-type-util.h -text
gtest/include/gtest/internal/gtest-type-util.h.pump -text
gtest/m4/acx_pthread.m4 -text
gtest/m4/gtest.m4 -text
gtest/make/Makefile -text
gtest/msvc/gtest-md.sln -text
gtest/msvc/gtest-md.vcproj -text
gtest/msvc/gtest.sln -text
gtest/msvc/gtest.vcproj -text
gtest/msvc/gtest_main-md.vcproj -text
gtest/msvc/gtest_main.vcproj -text
gtest/msvc/gtest_prod_test-md.vcproj -text
gtest/msvc/gtest_prod_test.vcproj -text
gtest/msvc/gtest_unittest-md.vcproj -text
gtest/msvc/gtest_unittest.vcproj -text
gtest/samples/prime_tables.h -text
gtest/samples/sample1.cc -text
gtest/samples/sample1.h -text
gtest/samples/sample10_unittest.cc -text
gtest/samples/sample1_unittest.cc -text
gtest/samples/sample2.cc -text
gtest/samples/sample2.h -text
gtest/samples/sample2_unittest.cc -text
gtest/samples/sample3-inl.h -text
gtest/samples/sample3_unittest.cc -text
gtest/samples/sample4.cc -text
gtest/samples/sample4.h -text
gtest/samples/sample4_unittest.cc -text
gtest/samples/sample5_unittest.cc -text
gtest/samples/sample6_unittest.cc -text
gtest/samples/sample7_unittest.cc -text
gtest/samples/sample8_unittest.cc -text
gtest/samples/sample9_unittest.cc -text
gtest/scripts/fuse_gtest_files.py -text
gtest/scripts/gen_gtest_pred_impl.py -text
gtest/scripts/gtest-config.in -text
gtest/scripts/pump.py -text
gtest/scripts/test/Makefile -text
gtest/src/gtest-all.cc -text
gtest/src/gtest-death-test.cc -text
gtest/src/gtest-filepath.cc -text
gtest/src/gtest-internal-inl.h -text
gtest/src/gtest-port.cc -text
gtest/src/gtest-test-part.cc -text
gtest/src/gtest-typed-test.cc -text
gtest/src/gtest.cc -text
gtest/src/gtest_main.cc -text
gtest/test/gtest-death-test_test.cc -text
gtest/test/gtest-filepath_test.cc -text
gtest/test/gtest-linked_ptr_test.cc -text
gtest/test/gtest-listener_test.cc -text
gtest/test/gtest-message_test.cc -text
gtest/test/gtest-options_test.cc -text
gtest/test/gtest-param-test2_test.cc -text
gtest/test/gtest-param-test_test.cc -text
gtest/test/gtest-param-test_test.h -text
gtest/test/gtest-port_test.cc -text
gtest/test/gtest-test-part_test.cc -text
gtest/test/gtest-tuple_test.cc -text
gtest/test/gtest-typed-test2_test.cc -text
gtest/test/gtest-typed-test_test.cc -text
gtest/test/gtest-typed-test_test.h -text
gtest/test/gtest-unittest-api_test.cc -text
gtest/test/gtest_all_test.cc -text
gtest/test/gtest_break_on_failure_unittest.py -text
gtest/test/gtest_break_on_failure_unittest_.cc -text
gtest/test/gtest_color_test.py -text
gtest/test/gtest_color_test_.cc -text
gtest/test/gtest_env_var_test.py -text
gtest/test/gtest_env_var_test_.cc -text
gtest/test/gtest_environment_test.cc -text
gtest/test/gtest_filter_unittest.py -text
gtest/test/gtest_filter_unittest_.cc -text
gtest/test/gtest_help_test.py -text
gtest/test/gtest_help_test_.cc -text
gtest/test/gtest_list_tests_unittest.py -text
gtest/test/gtest_list_tests_unittest_.cc -text
gtest/test/gtest_main_unittest.cc -text
gtest/test/gtest_no_test_unittest.cc -text
gtest/test/gtest_output_test.py -text
gtest/test/gtest_output_test_.cc -text
gtest/test/gtest_output_test_golden_lin.txt -text
gtest/test/gtest_output_test_golden_win.txt -text
gtest/test/gtest_pred_impl_unittest.cc -text
gtest/test/gtest_prod_test.cc -text
gtest/test/gtest_repeat_test.cc -text
gtest/test/gtest_shuffle_test.py -text
gtest/test/gtest_shuffle_test_.cc -text
gtest/test/gtest_sole_header_test.cc -text
gtest/test/gtest_stress_test.cc -text
gtest/test/gtest_test_utils.py -text
gtest/test/gtest_throw_on_failure_ex_test.cc -text
gtest/test/gtest_throw_on_failure_test.py -text
gtest/test/gtest_throw_on_failure_test_.cc -text
gtest/test/gtest_uninitialized_test.py -text
gtest/test/gtest_uninitialized_test_.cc -text
gtest/test/gtest_unittest.cc -text
gtest/test/gtest_xml_outfile1_test_.cc -text
gtest/test/gtest_xml_outfile2_test_.cc -text
gtest/test/gtest_xml_outfiles_test.py -text
gtest/test/gtest_xml_output_unittest.py -text
gtest/test/gtest_xml_output_unittest_.cc -text
gtest/test/gtest_xml_test_utils.py -text
gtest/test/production.cc -text
gtest/test/production.h -text
gtest/test/run_tests_util.py -text
gtest/test/run_tests_util_test.py -text
gtest/xcode/Config/DebugProject.xcconfig -text
gtest/xcode/Config/FrameworkTarget.xcconfig -text
gtest/xcode/Config/General.xcconfig -text
gtest/xcode/Config/ReleaseProject.xcconfig -text
gtest/xcode/Config/StaticLibraryTarget.xcconfig -text
gtest/xcode/Config/TestTarget.xcconfig -text
gtest/xcode/Resources/Info.plist -text
gtest/xcode/Samples/FrameworkSample/Info.plist -text
gtest/xcode/Samples/FrameworkSample/WidgetFramework.xcodeproj/project.pbxproj -text
gtest/xcode/Samples/FrameworkSample/runtests.sh -text
gtest/xcode/Samples/FrameworkSample/widget.cc -text
gtest/xcode/Samples/FrameworkSample/widget.h -text
gtest/xcode/Samples/FrameworkSample/widget_test.cc -text
gtest/xcode/Scripts/runtests.sh -text
gtest/xcode/Scripts/versiongenerate.py -text
gtest/xcode/gtest.xcodeproj/project.pbxproj -text
hello-unittests/CMakeLists.txt -text
hello-unittests/main.cc -text
hello-unittests/message/test-message.cc -text
hello-unittests/output/test-output.cc -text
/hello.sln -text
hello/CMakeLists.txt -text
hello/hello.vcproj -text
hello/src/main.c -text
message/CMakeLists.txt -text
message/include/message.h -text
message/message.vcproj -text
message/src/message.c -text
output/CMakeLists.txt -text
output/include/output.h -text
output/output.vcproj -text
output/src/output.c -text
/project.cmake -text
