/*.ncb
/*.suo
build/cmake/build-make
build/cmake/build-make-dbg
build/cmake/build-nmake
build/cmake/build-vc10
build/cmake/build-vc8
build/cmake/build-vc9
build/cmake/build-xcode
/debug
hello/*.user
hello/Debug
hello/Release
message/*.user
message/Debug
message/Release
output/*.user
output/Debug
output/Release
/release
